header {
  display: flex;
}

.PageContainer {
  background-color: $color-5;
  height: calc(100vh - 54px);
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.page {
  width: 100%;
  padding: 0 16px;
  overflow-y: auto;
}

footer {
  flex: 0 0 50px;
  width: 100%;
  background-color: var(--orange);
}
