.progress-container {
  display: flex;
  flex-direction: row;
}

.progress {
  background-color: #e3e3e3;
  border-radius: 20px;
  position: relative;
  margin: 4px 0;
  margin-right: 8px;
  height: 15px;
  width: 100px;
}

.progress-done {
  border-radius: 20px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* dynamic - controlled by js */
  height: 100%;
  width: 0; /* dynamic - controlled by js */
  transition: 2s ease; 
  /* animation: takes (1 second), type=ease, delay=0.3s */
}

.progress-value {
  opacity: 0;
  transition: 2s ease; 
}
